NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_SUPABASE_URL=https://tyqtowyytpjlvhbofpsw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR5cXRvd3l5dHBqbHZoYm9mcHN3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNzQ1NjYsImV4cCI6MjA4OTc1MDU2Nn0.N3cdlvNuIOdnQeA4f8KnhrKpxI8p12G4g7nKl8RQzcc
NEXT_PUBLIC_ADMIN_EMAIL=srikarboina9999@gmail.com
